body {
    font-size: 12px;
    font-family: verdana, SimSun, Helvetica, sans-serif;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

header {
    background-color: #fff;
    position: relative;
    z-index: 999;
    clear: both;

    i {
        color: #d9d9d9;
        float: left;
    }

    article {
        height: 28px;
        background: #f2f2f2;
        border-bottom: 1px solid #dcdcdc;
        position: relative;
        z-index: 100;

        section:nth-of-type(1) {
            height: 28px;
            background: #f2f2f2;
            border-bottom: 1px solid #dcdcdc;
            position: relative;
            z-index: 100;

            .head_section_div {
                position: relative;
                width: 1200px;
                margin: 0 auto;

                nav {
                    position: absolute;
                    right: 0;
                    top: 0;
                    line-height: 28px;

                    .head_nav_span {
                        margin-right: 10px;
                        float: left;

                        a {
                            color: #5a5a5a;
                            float: left;
                        }

                        i {
                            margin: 0 10px;
                        }
                    }

                    .head_nav_div {
                        position: relative;
                        float: left;
                        text-align: center;
                        padding: 0 10px;
                        border: 1px solid #f2f2f2;
                        cursor: pointer;

                        a {
                            color: #5a5a5a;
                            -webkit-transition: color .3s linear;
                            -moz-transition: color .3s linear;
                            -o-transition: color .3s linear;
                            transition: color .3s linear;
                        }

                        span {
                            background: url(../images/section-tigger.png) -30px -37px no-repeat;
                            width: 11px;
                            height: 7px;
                            display: inline-block;
                            margin-left: 4px;
                            float: none;
                        }

                        .head_nav_div_div {
                            display: none;
                            text-align: left;

                            a {
                                color: #5a5a5a;
                            }

                            img {
                                margin-top: 10px;
                            }

                            br {
                                display: contents;
                                text-align: center;
                            }
                        }

                        .noticeDiv {
                            position: absolute;
                            top: 28px;
                            right: 0;
                            min-width: 210px;
                            max-width: 500px;
                            background-color: #fff;
                            padding: 20px 10px 10px 10px;
                            z-index: 700;
                            border: 1px solid #dcdcdc;
                        }
                    }
                }
            }
        }

        section:nth-of-type(2) {
            // position: relative;
            height: 110px;
            background-color: #f5f5f5;

            .head_section2_div {
                position: relative;
                width: 1200px;
                margin: 0 auto;

                .logo {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                form {
                    position: absolute;
                    left: 334px;
                    top: 24px;
                    height: 31px;
                    padding: 4px 0 0 4px;

                    .head_section2_div_form_input {
                        float: left;
                        width: 364px;
                        padding: 0 0 0 10px;
                        line-height: 32px;
                        height: 32px;
                        border: 3px solid #d70057;
                    }

                    .head_section2_div_form_input2 {
                        float: left;
                        background: url(../images/common-thumb.png) -31px -4px no-repeat;
                        width: 98px;
                        height: 38px;
                        border: none;
                        cursor: pointer;
                    }
                }

                .head_section2_div_span2 {
                    position: absolute;
                    left: 338px;
                    top: 72px;
                    height: 16px;
                    width: 420px;
                    overflow: hidden;

                    a {
                        color: #888;
                        margin-right: 10px;
                    }
                }

                .head_section2_div_a {
                    background: #ffda73 url(../images/common-thumb.png) -238px -4px no-repeat;
                    width: 248px;
                    height: 32px;
                    color: #444;
                    position: absolute;
                    line-height: 39px;
                    right: 10px;
                    top: 30px;

                    span {
                        height: 28px;
                        width: 175px;
                        background: #fff;
                        display: block;
                        line-height: 28px;
                        text-align: center;
                        position: absolute;
                        right: 2px;
                        top: 2px;

                        b {
                            padding: 0 5px;
                            color: #d70057;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        section:nth-of-type(3) {
            height: 40px;
            width: 100%;
            background: #000;

            nav {
                position: relative;
                width: 1200px;
                margin: 0 auto;

                ul {

                    li {
                        float: left;
                        position: relative;

                        a {
                            width: 100px;
                            text-align: center;
                            display: block;
                            float: left;
                            color: #fff;
                            height: 40px;
                            line-height: 40px;
                            font-size: 14px;
                            font-family: 'Microsoft Yahei';
                        }

                        .head_section3_nav_a {
                            width: 100px;
                            text-align: center;
                            display: block;
                            float: left;
                            color: #fff;
                            height: 40px;
                            line-height: 40px;
                            background: #d70057;
                            font-size: 14px;
                            font-family: 'Microsoft Yahei';
                        }
                    }

                    .head_section3_nav_div {
                        // display: none;
                        background-color: #fff;
                        position: absolute;
                        top: 40px;
                        left: 0;
                        z-index: 900;
                        max-width: 1200px;
                        height: 396px;
                        background-color: #fff;
                        box-shadow: 2px 2px 4px #acacac;

                        s {
                            position: absolute;
                            top: -7px;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            text-align: center;
                            font-size: 16px;
                            font-family: "\5b8b\4f53";
                            color: #fff;
                            text-decoration: none;
                        }

                        .head_section3_nav_div_div {
                            padding: 12px 0;
                            overflow: hidden;
                            zoom: 1;
                            font-family: 'Arial';


                            .colbox {
                                float: left;
                                display: inline;
                                padding: 10px 12px;
                                height: 352px;
                                overflow: hidden;
                                border-right: 1px dashed #aeaeae;

                                h3 {
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #D20D33;
                                }

                                .catewrap {
                                    line-height: 12px;
                                    padding-top: 12px;
                                    overflow: hidden;
                                    zoom: 1;

                                    .black {
                                        color: #5E5E5E;
                                    }

                                    .context {
                                        margin-top: 16px;

                                        a {
                                            position: relative;
                                            float: left;
                                            display: inline;
                                            width: auto;
                                            margin-right: 15px;
                                            margin-bottom: 8px;
                                            white-space: nowrap;
                                            *line-height: 14px;
                                            color: #5E5E5E;
                                            overflow: hidden;
                                        }

                                        .cateitem {
                                            width: 50px;
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }

                            .colthumb {
                                float: left;
                                display: inline;
                                padding: 10px 10px 10px 12px;

                                h3 {
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #D20D33;
                                }

                                img {
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}