body {
    background: #fff;
    font-family: Arial, SimSun, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
}

.head {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    article:nth-of-type(1) {
        float: left;
    }

    article:nth-of-type(2) {
        float: right;
        height: 100px;
        line-height: 100px;
        font-size: 14px;
        font-family: 'Microsoft Yahei';
        color: #666;

        span {
            margin-left: 60px;

            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
                background: url(../images/ui_login.png) -76px -60px no-repeat;
            }
        }
    }
}

.login_new_bg {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 560px;
    overflow: hidden;

    img {
        position: absolute;
        left: 50%;
        margin-left: -1000px;
        vertical-align: top;
    }
}

.main_box {
    width: 1200px;
    height: 560px;
    margin: 0 auto;

    article {
        width: 100%;
        color: #676767;
        font-size: 14px;
        float: left;
        display: inline;
        zoom: 1;
        background-position: 55px 20px;

        section {
            float: right;
            width: 340px;
            height: 520px;
            margin: 20px 0 0 0;
            padding: 0 30px;
            display: inline;
            position: relative;
            font-family: 'Microsoft Yahei';
            background: #fff;

            .login_new_tabhead {
                width: 340px;
                height: 80px;
                line-height: 80px;
                text-align: center;
                font-size: 22px;
                font-weight: bold;
                font-family: 'Microsoft Yahei';
                color: #333;

                span {
                    display: inline-block;
                    width: 166px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    cursor: pointer;
                }

                .active{
                    color: #d70057;
                }

                .borderleft {
                    border-left: 1px solid #e0e0e0;
                }
            }

            .login_new_tabbody {

                // 登录界面样式
                .login_txt {
                    background: #fff;
                    border: 1px solid #e0e0e0;

                    input {
                        height: 46px;
                        width: 327px;
                        font-family: Verdana, Arial, Helvetica, sans-serif;
                        font-size: 14px;
                        background: #fff;
                        line-height: 46px;
                        padding-left: 10px;
                        border: none;
                    }
                }

                .loginbody {
                    display: none;

                    // 扫码界面样式
                    .scan_code {
                        height: 200px;
                        margin: 28px auto;
                        text-align: center;

                        .havecode {
                            position: relative;
                            width: 340px;
                            height: 200px;

                            .code {
                                position: absolute;
                                left: 80px;
                                top: 0;
                                width: 180px;
                                height: 180px;
                            }
                        }
                    }

                    .scan_word {
                        text-align: center;
                        font-size: 14px;
                        color: #666;
                    }

                    .scan_down {
                        position: relative;
                        text-align: center;
                        font-size: 14px;

                        .down {
                            width: 200px;
                            margin: 10px auto;
                            text-align: center;
                            cursor: pointer;

                            .downimg {
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                                margin-right: 5px;
                                vertical-align: middle;
                                background: url(../images/ui_login.png) -52px -58px no-repeat;
                            }
                        }
                    }
                }
                .active2{
                    display: block;
                }

                #usernameError {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
                    color: #d00;
                }

                #passwordError {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
                    color: #d00;
                }

                p {
                    input {
                        float: left;
                    }

                    .login_btn_2 {
                        width: 338px;
                        height: 50px;
                        background: #d70057;
                        border: none;
                        font-family: 'Microsoft Yahei';
                        cursor: pointer;
                        margin: 0 0 15px 0;
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                    }
                }

                .loginRight_3 {
                    color: #999;
                    font-size: 12px;
                    line-height: 20px;

                    a {
                        color: #999;
                        margin-left: 275px;
                    }
                }
            }

            .login_new_party {
                position: absolute;
                left: 0;
                bottom: 0;
                overflow: hidden;
                width: 360px;
                padding: 16px 30px 16px 10px;
                background: #f6f6f6;

                .three_party {
                    float: left;

                    a {
                        display: inline-block;
                        padding: 0 10px;
                        border-right: 1px solid #e0e0e0;

                        i {
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            vertical-align: middle;
                        }

                        .login_icon_qq {
                            background: url(../images/ui_login.png) -23px -58px no-repeat;
                        }

                        .login_icon_wx {
                            background: url(../images/ui_login.png) -5px -42px no-repeat;
                        }

                        .login_icon_pay {
                            background: url(../images/ui_login.png) -5px -76px no-repeat;
                        }

                        .login_icon_wb {
                            background: url(../images/ui_login.png) -53px -30px no-repeat;
                        }

                        .noborder {
                            background: url(../images/ui_login.png) -23px -30px no-repeat;
                        }
                    }
                }

                .goregister {
                    float: right;
                    color: #666;

                    i {
                        display: inline-block;
                        width: 16px;
                        height: 17px;
                        vertical-align: middle;
                        margin: -3px 5px 0 0;
                        background: url(../images/ui_login.png) -76px -30px no-repeat;
                    }
                }
            }
        }
    }
}

.minifooter {
    height: 28px;
    margin: 80px auto 10px;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 28px;
}