body {
    font-size: 12px;
    font-family: verdana, SimSun, Helvetica, sans-serif;
}

header {
    background-color: #fff;
    position: relative;
    z-index: 999;
    clear: both;
    height: 179px;

    i {
        color: #d9d9d9;
        float: left;
    }

    article {
        height: 28px;
        background: #f2f2f2;
        border-bottom: 1px solid #dcdcdc;
        position: relative;
        z-index: 100;

        section:nth-of-type(1) {
            height: 28px;
            background: #f2f2f2;
            border-bottom: 1px solid #dcdcdc;
            position: relative;
            z-index: 100;

            .head_section_div {
                position: relative;
                width: 1200px;
                margin: 0 auto;

                nav {
                    position: absolute;
                    right: 0;
                    top: 0;
                    line-height: 28px;

                    .head_nav_span {
                        margin-right: 10px;
                        float: left;

                        a {
                            color: #5a5a5a;
                            float: left;
                        }

                        i {
                            margin: 0 10px;
                        }
                    }

                    .head_nav_div {
                        position: relative;
                        float: left;
                        text-align: center;
                        padding: 0 10px;
                        border: 1px solid #f2f2f2;
                        cursor: pointer;

                        a {
                            color: #5a5a5a;
                            -webkit-transition: color .3s linear;
                            -moz-transition: color .3s linear;
                            -o-transition: color .3s linear;
                            transition: color .3s linear;
                        }

                        .head_nav_div_a:hover {
                            color: #d70057;
                        }

                        span {
                            background: url(../images/section-tigger.png) -30px -37px no-repeat;
                            width: 11px;
                            height: 7px;
                            display: inline-block;
                            margin-left: 4px;
                            float: none;
                        }

                        .head_nav_div_div {
                            display: none;
                            text-align: left;

                            a {
                                color: #5a5a5a;
                            }

                            img {
                                margin-top: 10px;
                            }

                            br {
                                display: contents;
                                text-align: center;
                            }
                        }

                        .noticeDiv {
                            position: absolute;
                            top: 28px;
                            right: 0;
                            min-width: 210px;
                            max-width: 500px;
                            background-color: #fff;
                            padding: 20px 10px 10px 10px;
                            z-index: 700;
                            border: 1px solid #dcdcdc;
                        }
                    }

                    .cur {
                        background: #fff;
                        border: 1px solid #dcdcdc;
                    }
                }
            }
        }

        section:nth-of-type(2) {
            // position: relative;
            height: 110px;
            background-color: #f5f5f5;

            .head_section2_div {
                position: relative;
                width: 1200px;
                margin: 0 auto;

                .logo {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                form {
                    position: absolute;
                    left: 334px;
                    top: 24px;
                    height: 31px;
                    padding: 4px 0 0 4px;

                    .head_section2_div_form_input {
                        float: left;
                        width: 364px;
                        padding: 0 0 0 10px;
                        line-height: 32px;
                        height: 32px;
                        border: 3px solid #d70057;
                    }

                    .head_section2_div_form_input2 {
                        float: left;
                        background: url(../images/common-thumb.png) -31px -4px no-repeat;
                        width: 98px;
                        height: 38px;
                        border: none;
                        cursor: pointer;
                    }
                }

                .head_section2_div_span2 {
                    position: absolute;
                    left: 338px;
                    top: 72px;
                    height: 16px;
                    width: 420px;
                    overflow: hidden;

                    a {
                        color: #888;
                        margin-right: 10px;
                    }
                }

                .head_section2_div_a {
                    background: #ffda73 url(../images/common-thumb.png) -238px -4px no-repeat;
                    width: 248px;
                    height: 32px;
                    color: #444;
                    position: absolute;
                    line-height: 39px;
                    right: 10px;
                    top: 30px;

                    span {
                        height: 28px;
                        width: 175px;
                        background: #fff;
                        display: block;
                        line-height: 28px;
                        text-align: center;
                        position: absolute;
                        right: 2px;
                        top: 2px;

                        b {
                            padding: 0 5px;
                            color: #d70057;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        section:nth-of-type(3) {
            height: 40px;
            width: 100%;
            background: #000;

            nav {
                position: relative;
                width: 1200px;
                margin: 0 auto;

                ul {

                    li {
                        float: left;
                        position: relative;

                        a {
                            width: 100px;
                            text-align: center;
                            display: block;
                            float: left;
                            color: #fff;
                            height: 40px;
                            line-height: 40px;
                            font-size: 14px;
                            font-family: 'Microsoft Yahei';
                        }

                        .head_section3_nav_a {
                            width: 100px;
                            text-align: center;
                            display: block;
                            float: left;
                            color: #fff;
                            height: 40px;
                            line-height: 40px;
                            font-size: 14px;
                            font-family: 'Microsoft Yahei';
                            transition: color .3s linear;
                        }

                        .head_section3_nav_a:hover {
                            color: #d70057;
                        }

                        .head_section3_nav_a1 {
                            transition: color .3s linear;
                        }

                        .head_section3_nav_a1:hover {
                            color: #d70057;
                        }

                        .head_section3_nav_a2 {
                            transition: color .3s linear;
                        }

                        .head_section3_nav_a2:hover {
                            color: #d70057;
                        }

                        .head_section3_nav_a3 {
                            transition: color .3s linear;
                        }

                        .head_section3_nav_a3:hover {
                            color: #d70057;
                        }
                    }

                    .head_section3_nav_div {
                        // display: none;
                        background-color: #fff;
                        position: absolute;
                        top: 40px;
                        left: 0;
                        z-index: 900;
                        max-width: 1200px;
                        height: 396px;
                        background-color: #fff;
                        box-shadow: 2px 2px 4px #acacac;

                        s {
                            position: absolute;
                            top: -7px;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            text-align: center;
                            font-size: 16px;
                            font-family: "\5b8b\4f53";
                            color: #fff;
                            text-decoration: none;
                        }

                        .head_section3_nav_div_div {
                            padding: 12px 0;
                            overflow: hidden;
                            zoom: 1;
                            font-family: 'Arial';


                            .colbox {
                                float: left;
                                display: inline;
                                padding: 10px 12px;
                                height: 352px;
                                overflow: hidden;
                                border-right: 1px dashed #aeaeae;

                                h3 {
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #D20D33;

                                    a {
                                        font-size: 12px;
                                        font-weight: bold;
                                        color: #D20D33;
                                    }
                                }

                                .catewrap {
                                    padding-top: 12px;
                                    width: 320px;
                                    overflow: hidden;
                                    zoom: 1;

                                    .black {
                                        color: #5E5E5E;
                                    }

                                    .context {
                                        margin-top: 16px;

                                        a {
                                            position: relative;
                                            float: left;
                                            display: inline;
                                            width: auto;
                                            margin-right: 15px;
                                            margin-bottom: 8px;
                                            white-space: nowrap;
                                            *line-height: 14px;
                                            color: #5E5E5E;
                                            overflow: hidden;
                                            transition: color .3s linear;
                                        }

                                        a:hover {
                                            color: #d70057;
                                        }

                                        .cateitem {
                                            width: 50px;
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }

                            .colthumb {
                                float: left;
                                display: inline;
                                padding: 10px 10px 10px 12px;

                                h3 {
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #D20D33;
                                }

                                img {
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.w1200 {
    width: 1200px;
    margin: 0 auto;

    .carttit {
        border-bottom: #d70057 solid 2px;
        height: 60px;
        line-height: 60px;
        margin-top: 12px;

        h1 {
            font-size: 30px;
            line-height: 48px;
            color: #333;
            display: inline-block;
            font-weight: normal;
            font-family: 'Microsoft Yahei';

            span {
                margin-left: 10px;
                display: inline-block;
                color: #666;
            }
        }

        .zero {
            height: 30px;
        }
    }
}

.main_box2 {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
    // height: 600px;

    .row {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .car-menu {
            float: left;
            font-size: 18px;
        }
    }

    .shop_box {
        width: 100%;
        height: 100px;
        background: wheat;
        font-size: 18px;
        margin-top: 20px;


        #check-goods-alone {
            float: left;
            position: relative;
            top: 48px;
        }

        .shop_img {
            width: 80px;
            height: 80px;
            float: left;
            position: relative;
            top: 10px;
        }

        .shop_name {
            float: left;
            position: relative;
            top: 40px;
            left: 45px;
        }

        .shop_money {
            float: left;
            position: relative;
            top: 36px;
            left: 133px;
        }

        .shop_num {
            float: left;
            position: relative;
            left: 262px;
            top: 32px;

            .shop_num_add {
                width: 30px;
                height: 30px;
            }

            .shop_num_number {
                width: 30px;
                height: 30px;
            }

            .shop_num_reduce {
                width: 30px;
                height: 30px;
            }
        }

        .shop_money2 {
            float: left;
            position: relative;
            top: 36px;
            left: 418px;
        }

        .shop_delect {
            float: right;
            position: relative;
            top: 36px;
        }
    }
}

.main_box3 {
    width: 1200px;
    height: 27px;
    margin: 0 auto;

    .shop_choose {
        font-size: 20px;
        float: left;
    }

    .shop_Allmoney {
        font-size: 20px;
        float: left;
        margin-left: 260px;
    }

    .shop_empty {
        float: right;


        input {
            height: 28px;
        }
    }

    .shop_pay {
        float: right;
        margin-right: 50px;

        input {
            width: 50px;
            height: 28px;
        }
    }
}

footer {
    border-top: solid 1px #a6a6a6;
    margin-top: 40px;

    .conn {
        border-top: solid 1px #c3c3c3;
        background-color: #e6e6e6;
        padding: 28px 0 0 0;

        .w1200 {
            width: 1250px;
            margin: 0 auto;

            .qd {
                height: 140px;
                margin-left: 26px;
                background: #fff;
                float: left;
                display: inline;
                width: 560px;
                padding-top: 10px;
                position: relative;

                .footer_code {
                    overflow: hidden;
                    width: 480px;
                    margin: 10px 0 0 35px;
                    text-align: center;

                    .wx_code {
                        float: left;
                        width: 120px;
                        text-align: center;

                        img {
                            width: 90px;
                        }

                        p {
                            margin-top: 8px;
                            text-align: center;
                            font-size: 14px;
                            color: #333;
                        }
                    }
                }
            }

            .abm {
                float: right;

                li {
                    float: left;
                    width: 120px;
                    display: inline;
                    border-left: solid 1px #fff;
                    margin-right: 30px;

                    p {
                        padding-left: 20px;
                        line-height: 24px;

                        a {
                            color: #666;
                            text-shadow: 0 1px #f5f5f5;
                        }
                    }

                    .tit {
                        line-height: 24px;
                        background-color: #fff;
                        margin-bottom: 14px;
                        font-family: 'Microsoft Yahei';
                        font-size: 14px;
                        color: #999;
                    }
                }
            }

            .center {
                margin: 0 auto;
                text-align: center;
            }

            .oklogo {
                padding: 45px 0 0 0;
                clear: both;

                a {
                    display: inline-block;
                    color: #d70057;
                    text-decoration: none;
                    transition: color .3s linear;

                    img {
                        margin: 0 10px;
                    }
                }
            }

            .about {
                line-height: 42px;
                text-align: center;
                color: #d7d7d7;

                a {
                    color: #777;
                }
            }
        }

        .bt {
            background-color: #232323;
            text-align: center;
            color: #999;
            line-height: 24px;

            a {
                color: #878787;
                margin: 0 6px;
            }
        }
    }
}