body {
    background: #fff;
    font-family: Arial, SimSun, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
}

.head {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    article:nth-of-type(1) {
        float: left;
    }

    article:nth-of-type(2) {
        float: right;
        height: 100px;
        line-height: 100px;
        font-size: 14px;
        font-family: 'Microsoft Yahei';
        color: #666;

        span {
            margin-left: 60px;

            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
                background: url(../images/ui_login.png) -76px -60px no-repeat;
            }
        }
    }
}

.login_new_bg {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 560px;
    overflow: hidden;

    img {
        position: absolute;
        left: 50%;
        margin-left: -1000px;
        vertical-align: top;
    }
}

.main_box {
    width: 1200px;
    height: 560px;
    margin: 0 auto;

    .login {
        width: 100%;
        color: #676767;
        font-size: 14px;
        float: left;
        display: inline;
        zoom: 1;
        background-position: 55px 20px;

        .loginRight {
            float: right;
            position: relative;
            width: 340px;
            height: 520px;
            margin: 20px 0 0 0;
            padding: 0 30px;
            background: #fff;

            .register_new_title {
                overflow: hidden;
                margin: 30px 0;
                font-family: 'Microsoft Yahei';

                .reg {
                    font-size: 22px;
                    font-weight: bold;
                    color: #333;
                }

                .reglogin {
                    float: right;
                    color: #d70057;
                }
            }

            .login_txt,
            .login_txt_2,
            .login_txt_3 {
                background: #fff;
                border: 1px solid #e0e0e0;
            }

            #mobileoremail {
                position: relative;
                width: 346px;
                overflow: hidden;
                height: 53px;

                #mobilediv {
                    position: absolute;
                    left: 0;
                    top: 0;
                    float: left;
                    width: 346px;

                    .register_txt {
                        position: relative;
                        width: 337px;
                        height: 50px;

                        input {
                            height: 46px;
                            width: 325px;
                            font-family: Verdana, Arial, Helvetica, sans-serif;
                            font-size: 14px;
                            background: #fff;
                            line-height: 46px;
                            margin-bottom: 13px;
                            padding-left: 10px;
                        }

                        .deletemobile {
                            // background: url(../images/delete.png) no-repeat;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            z-index: 2;
                            right: 10px;
                            top: 19px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .registererror {
                height: 30px;
                line-height: 30px;
                color: #d00;
                font-size: 12px;

                i {
                    font-style: normal;
                }

                .p_reg_note {
                    display: none;
                    width: 14px;
                    height: 14px;
                    vertical-align: middle;
                    margin: -1px 3px 0 0;
                    // background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/ui_login.png) -76px 0 no-repeat;
                }
            }

            .register_txt {
                position: relative;
                width: 337px;
                height: 50px;

                input {
                    height: 46px;
                    width: 325px;
                    font-family: Verdana, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    background: #fff;
                    line-height: 46px;
                    margin-bottom: 13px;
                    padding-left: 10px;
                }

                .show {
                    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/login/pwicon.png) no-repeat;
                    width: 20px;
                    height: 38px;
                    position: absolute;
                    z-index: 2;
                    right: 10px;
                    top: 6px;
                    cursor: pointer;
                }

                #true3 {
                    right: 34px;
                }

                .true {
                    float: left;
                    padding-left: 10px;
                    display: none;
                    position: absolute;
                    z-index: 2;
                    right: 16px;
                    top: 9px;
                }
            }

            #safe {
                height: 30px;
                line-height: 30px;
            }

            .registercode {
                width: 380px;
                position: relative;
                height: 53px;
                overflow: hidden;

                .validateCodeDiv {
                    float: left;
                }

                #validateCodeDiv_1 {
                    position: absolute;
                    left: 0;
                    top: 0;

                    .mobilecheck_3 {
                        overflow: hidden;
                        width: 340px;

                        .mcback {
                            position: relative;
                            float: left;
                        }

                        .mcback {
                            float: left;
                            background: 0;
                            border: 1px solid #e0e0e0;
                            padding: 0;
                            width: 174px;
                            height: 50px;
                            line-height: 50px;

                            input {
                                position: absolute;
                                z-index: 1;
                            }

                            input {
                                width: 162px;
                                height: 48px;
                                line-height: 48px;
                                padding-left: 10px;
                                font-size: 14px;
                                border: 0;
                            }
                        }

                        .num {
                            width: 100px;
                            height: 52px;
                            font-size: 35px;
                            background-color: silver;
                            color: #d00;
                            border: 0;
                            font-style: initial;
                            float: left;
                            margin-left: 13px;
                        }

                        .again {
                            float: right;
                            font-size: 12px;
                            margin-top: 39px;
                        }
                    }
                }
            }

            .registererror {
                height: 30px;
                line-height: 30px;
                color: #d00;
                font-size: 12px;
            }

            .register_btn {
                width: 338px;
                height: 50px;
                background: #d70057;
                border: none;
                cursor: pointer;
                margin: 0 0 10px;
                font-size: 18px;
                font-weight: bold;
                font-family: 'Microsoft Yahei';
                color: #fff;
            }

            .school_check_P {
                font-size: 12px;
                color: #999;

                a {
                    color: #d70057;
                }
            }
        }
    }
}