body {
    background: #fff;
    font-family: Arial, SimSun, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
}

.head {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    article:nth-of-type(1) {
        float: left;
    }

    article:nth-of-type(2) {
        float: right;
        height: 100px;
        line-height: 100px;
        font-size: 14px;
        font-family: 'Microsoft Yahei';
        color: #666;

        span {
            margin-left: 60px;

            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
                background: url(../images/ui_login.png) -76px -60px no-repeat;
            }
        }
    }
}

.login_new_bg {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 560px;
    overflow: hidden;

    img {
        position: absolute;
        left: 50%;
        margin-left: -1000px;
        vertical-align: top;
    }
}

.main_box {
    width: 1200px;
    height: 560px;
    margin: 0 auto;

    .login {
        width: 100%;
        color: #676767;
        font-size: 14px;
        float: left;
        display: inline;
        zoom: 1;
        background-position: 55px 20px;

        .loginRight {
            float: right;
            position: relative;
            width: 340px;
            height: 520px;
            margin: 20px 0 0 0;
            padding: 0 30px;
            background: #fff;

            .register_new_title {
                overflow: hidden;
                margin: 30px 0;
                font-family: 'Microsoft Yahei';

                .reg {
                    font-size: 22px;
                    font-weight: bold;
                    color: #333;
                }

                .reglogin {
                    float: right;
                    color: #d70057;
                }
            }

            #mobileoremail {
                position: relative;
                width: 346px;
                overflow: hidden;
                height: 53px;

                #mobilediv {
                    position: absolute;
                    left: 0;
                    top: 0;
                    float: left;
                    width: 346px;

                    .register_txt {
                        position: relative;
                        width: 337px;
                        height: 50px;

                        input {
                            height: 46px;
                            width: 325px;
                            font-family: Verdana, Arial, Helvetica, sans-serif;
                            font-size: 14px;
                            background: #fff;
                            line-height: 46px;
                            margin-bottom: 13px;
                            padding-left: 10px;
                        }
                        .deletemobile {
                            background: url(../images/delete.png) no-repeat;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            z-index: 2;
                            right: 10px;
                            top: 19px;
                            cursor: pointer;
                        }
                    }

                    .login_txt,
                    .login_txt_2,
                    .login_txt_3 {
                        background: #fff;
                        border: 1px solid #e0e0e0;
                    }
                }
            }
        }
    }
}