body {
  font-size: 12px;
  font-family: verdana, SimSun, Helvetica, sans-serif;
}

header {
  background-color: #fff;
  position: relative;
  z-index: 999;
  clear: both;
  height: 179px;
}

header i {
  color: #d9d9d9;
  float: left;
}

header article {
  height: 28px;
  background: #f2f2f2;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  z-index: 100;
}

header article section:nth-of-type(1) {
  height: 28px;
  background: #f2f2f2;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  z-index: 100;
}

header article section:nth-of-type(1) .head_section_div {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

header article section:nth-of-type(1) .head_section_div nav {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 28px;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_span {
  margin-right: 10px;
  float: left;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_span a {
  color: #5a5a5a;
  float: left;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_span i {
  margin: 0 10px;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div {
  position: relative;
  float: left;
  text-align: center;
  padding: 0 10px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div a {
  color: #5a5a5a;
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div .head_nav_div_a:hover {
  color: #d70057;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div span {
  background: url(../images/section-tigger.png) -30px -37px no-repeat;
  width: 11px;
  height: 7px;
  display: inline-block;
  margin-left: 4px;
  float: none;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div .head_nav_div_div {
  display: none;
  text-align: left;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div .head_nav_div_div a {
  color: #5a5a5a;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div .head_nav_div_div img {
  margin-top: 10px;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div .head_nav_div_div br {
  display: contents;
  text-align: center;
}

header article section:nth-of-type(1) .head_section_div nav .head_nav_div .noticeDiv {
  position: absolute;
  top: 28px;
  right: 0;
  min-width: 210px;
  max-width: 500px;
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  z-index: 700;
  border: 1px solid #dcdcdc;
}

header article section:nth-of-type(1) .head_section_div nav .cur {
  background: #fff;
  border: 1px solid #dcdcdc;
}

header article section:nth-of-type(2) {
  height: 110px;
  background-color: #f5f5f5;
}

header article section:nth-of-type(2) .head_section2_div {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

header article section:nth-of-type(2) .head_section2_div .logo {
  position: absolute;
  left: 0;
  top: 0;
}

header article section:nth-of-type(2) .head_section2_div form {
  position: absolute;
  left: 334px;
  top: 24px;
  height: 31px;
  padding: 4px 0 0 4px;
}

header article section:nth-of-type(2) .head_section2_div form .head_section2_div_form_input {
  float: left;
  width: 364px;
  padding: 0 0 0 10px;
  line-height: 32px;
  height: 32px;
  border: 3px solid #d70057;
}

header article section:nth-of-type(2) .head_section2_div form .head_section2_div_form_input2 {
  float: left;
  background: url(../images/common-thumb.png) -31px -4px no-repeat;
  width: 98px;
  height: 38px;
  border: none;
  cursor: pointer;
}

header article section:nth-of-type(2) .head_section2_div .head_section2_div_span2 {
  position: absolute;
  left: 338px;
  top: 72px;
  height: 16px;
  width: 420px;
  overflow: hidden;
}

header article section:nth-of-type(2) .head_section2_div .head_section2_div_span2 a {
  color: #888;
  margin-right: 10px;
}

header article section:nth-of-type(2) .head_section2_div .head_section2_div_a {
  background: #ffda73 url(../images/common-thumb.png) -238px -4px no-repeat;
  width: 248px;
  height: 32px;
  color: #444;
  position: absolute;
  line-height: 39px;
  right: 10px;
  top: 30px;
}

header article section:nth-of-type(2) .head_section2_div .head_section2_div_a span {
  height: 28px;
  width: 175px;
  background: #fff;
  display: block;
  line-height: 28px;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 2px;
}

header article section:nth-of-type(2) .head_section2_div .head_section2_div_a span b {
  padding: 0 5px;
  color: #d70057;
  font-weight: normal;
}

header article section:nth-of-type(3) {
  height: 40px;
  width: 100%;
  background: #000;
}

header article section:nth-of-type(3) nav {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

header article section:nth-of-type(3) nav ul li {
  float: left;
  position: relative;
}

header article section:nth-of-type(3) nav ul li a {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Microsoft Yahei';
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  transition: color .3s linear;
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a:hover {
  color: #d70057;
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a1 {
  transition: color .3s linear;
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a1:hover {
  color: #d70057;
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a2 {
  transition: color .3s linear;
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a2:hover {
  color: #d70057;
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a3 {
  transition: color .3s linear;
}

header article section:nth-of-type(3) nav ul li .head_section3_nav_a3:hover {
  color: #d70057;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div {
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 900;
  max-width: 1200px;
  height: 396px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #acacac;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div s {
  position: absolute;
  top: -7px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-family: "\5b8b\4f53";
  color: #fff;
  text-decoration: none;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div {
  padding: 12px 0;
  overflow: hidden;
  zoom: 1;
  font-family: 'Arial';
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox {
  float: left;
  display: inline;
  padding: 10px 12px;
  height: 352px;
  overflow: hidden;
  border-right: 1px dashed #aeaeae;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox h3 {
  font-size: 12px;
  font-weight: bold;
  color: #D20D33;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox h3 a {
  font-size: 12px;
  font-weight: bold;
  color: #D20D33;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox .catewrap {
  padding-top: 12px;
  width: 320px;
  overflow: hidden;
  zoom: 1;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox .catewrap .black {
  color: #5E5E5E;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox .catewrap .context {
  margin-top: 16px;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox .catewrap .context a {
  position: relative;
  float: left;
  display: inline;
  width: auto;
  margin-right: 15px;
  margin-bottom: 8px;
  white-space: nowrap;
  *line-height: 14px;
  color: #5E5E5E;
  overflow: hidden;
  transition: color .3s linear;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox .catewrap .context a:hover {
  color: #d70057;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colbox .catewrap .context .cateitem {
  width: 50px;
  margin-right: 8px;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colthumb {
  float: left;
  display: inline;
  padding: 10px 10px 10px 12px;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colthumb h3 {
  font-size: 12px;
  font-weight: bold;
  color: #D20D33;
}

header article section:nth-of-type(3) nav ul .head_section3_nav_div .head_section3_nav_div_div .colthumb img {
  vertical-align: top;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.w1200 .carttit {
  border-bottom: #d70057 solid 2px;
  height: 60px;
  line-height: 60px;
  margin-top: 12px;
}

.w1200 .carttit h1 {
  font-size: 30px;
  line-height: 48px;
  color: #333;
  display: inline-block;
  font-weight: normal;
  font-family: 'Microsoft Yahei';
}

.w1200 .carttit h1 span {
  margin-left: 10px;
  display: inline-block;
  color: #666;
}

.w1200 .carttit .zero {
  height: 30px;
}

.main_box2 {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main_box2 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_box2 .row .car-menu {
  float: left;
  font-size: 18px;
}

.main_box2 .shop_box {
  width: 100%;
  height: 100px;
  background: wheat;
  font-size: 18px;
  margin-top: 20px;
}

.main_box2 .shop_box #check-goods-alone {
  float: left;
  position: relative;
  top: 48px;
}

.main_box2 .shop_box .shop_img {
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
  top: 10px;
}

.main_box2 .shop_box .shop_name {
  float: left;
  position: relative;
  top: 40px;
  left: 45px;
}

.main_box2 .shop_box .shop_money {
  float: left;
  position: relative;
  top: 36px;
  left: 133px;
}

.main_box2 .shop_box .shop_num {
  float: left;
  position: relative;
  left: 262px;
  top: 32px;
}

.main_box2 .shop_box .shop_num .shop_num_add {
  width: 30px;
  height: 30px;
}

.main_box2 .shop_box .shop_num .shop_num_number {
  width: 30px;
  height: 30px;
}

.main_box2 .shop_box .shop_num .shop_num_reduce {
  width: 30px;
  height: 30px;
}

.main_box2 .shop_box .shop_money2 {
  float: left;
  position: relative;
  top: 36px;
  left: 418px;
}

.main_box2 .shop_box .shop_delect {
  float: right;
  position: relative;
  top: 36px;
}

.main_box3 {
  width: 1200px;
  height: 27px;
  margin: 0 auto;
}

.main_box3 .shop_choose {
  font-size: 20px;
  float: left;
}

.main_box3 .shop_Allmoney {
  font-size: 20px;
  float: left;
  margin-left: 260px;
}

.main_box3 .shop_empty {
  float: right;
}

.main_box3 .shop_empty input {
  height: 28px;
}

.main_box3 .shop_pay {
  float: right;
  margin-right: 50px;
}

.main_box3 .shop_pay input {
  width: 50px;
  height: 28px;
}

footer {
  border-top: solid 1px #a6a6a6;
  margin-top: 40px;
}

footer .conn {
  border-top: solid 1px #c3c3c3;
  background-color: #e6e6e6;
  padding: 28px 0 0 0;
}

footer .conn .w1200 {
  width: 1250px;
  margin: 0 auto;
}

footer .conn .w1200 .qd {
  height: 140px;
  margin-left: 26px;
  background: #fff;
  float: left;
  display: inline;
  width: 560px;
  padding-top: 10px;
  position: relative;
}

footer .conn .w1200 .qd .footer_code {
  overflow: hidden;
  width: 480px;
  margin: 10px 0 0 35px;
  text-align: center;
}

footer .conn .w1200 .qd .footer_code .wx_code {
  float: left;
  width: 120px;
  text-align: center;
}

footer .conn .w1200 .qd .footer_code .wx_code img {
  width: 90px;
}

footer .conn .w1200 .qd .footer_code .wx_code p {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

footer .conn .w1200 .abm {
  float: right;
}

footer .conn .w1200 .abm li {
  float: left;
  width: 120px;
  display: inline;
  border-left: solid 1px #fff;
  margin-right: 30px;
}

footer .conn .w1200 .abm li p {
  padding-left: 20px;
  line-height: 24px;
}

footer .conn .w1200 .abm li p a {
  color: #666;
  text-shadow: 0 1px #f5f5f5;
}

footer .conn .w1200 .abm li .tit {
  line-height: 24px;
  background-color: #fff;
  margin-bottom: 14px;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  color: #999;
}

footer .conn .w1200 .center {
  margin: 0 auto;
  text-align: center;
}

footer .conn .w1200 .oklogo {
  padding: 45px 0 0 0;
  clear: both;
}

footer .conn .w1200 .oklogo a {
  display: inline-block;
  color: #d70057;
  text-decoration: none;
  transition: color .3s linear;
}

footer .conn .w1200 .oklogo a img {
  margin: 0 10px;
}

footer .conn .w1200 .about {
  line-height: 42px;
  text-align: center;
  color: #d7d7d7;
}

footer .conn .w1200 .about a {
  color: #777;
}

footer .conn .bt {
  background-color: #232323;
  text-align: center;
  color: #999;
  line-height: 24px;
}

footer .conn .bt a {
  color: #878787;
  margin: 0 6px;
}
